{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9
  },
  "extends": [
    "eslint:recommended",
    "plugin:@wordpress/eslint-plugin/react",
    // "plugin:@wordpress/eslint-plugin/custom",
    // "plugin:@wordpress/eslint-plugin/es5",
    // "plugin:@wordpress/eslint-plugin/esnext",
    "plugin:@wordpress/eslint-plugin/i18n",
    // "plugin:@wordpress/eslint-plugin/jsdoc",
    // "plugin:@wordpress/eslint-plugin/jsx-a11y",
    "plugin:@wordpress/eslint-plugin/test-e2e",
    // "plugin:@wordpress/eslint-plugin/test-unit",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-var": 1,
    "no-console": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  }
}
